asspath
.settings
eclipse
.project
tmp
test-result
db/h2/play.lock.db
db/h2/play.h2.db
db/h2/play.trace.db
precompiled
db/h2
*.log
*target/
cred.iml
cred.ipr
.svn
*.iml
*.ipr
*.svn/
*.idea/
ciaosir_log
.iws*.iws
*.iws
*.bak
excelExport
./data
*.log
.DS_Store
*.db
logs/
.idea
modules
nohup
nohup.outn解决方案文件、配置文件  
*.mdb  
*.ldb  
*.sln  
*.config  
  
  
#过滤文件夹Debug,Release,obj  
Debug/  
Release/  
obj/ 
