.container{
    width: 100%;
    padding: 0px;
}
ul li{
    list-style-type: none;
}
a:hover{
    cursor: pointer;
}
/* header */
.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background:#333;
    height: 60px;
    float: left;
    vertical-align: middle;
    text-align: center;
    min-width: 100%;
}
.main{
    width: 960px;
    margin: 0 auto;
}
.main-logo{
    float: left;
}
.main-nav{
    float: left;
}
.main-nav ul{
    min-height: 60px;
}
.main-nav ul li{
    display: inline-block;
    margin:0 20px;
    padding: 15px 0;
}
.main-nav ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.main-nav ul li a:hover{
    color: #2cc185;
}
.right-nav{
    float: right;

}

.right-nav ul li{
    min-width: 150px;
    color: #ffffff;
    font-size: 25px;

}

.right-nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.right-nav ul li a:hover{
    color: #2cc185;
}
.back-image{
    height: 400px;
    background: url("/public/img/music/music_3.jpg") no-repeat center -400px;
    z-index: 1;
    min-width: 100%;
}
.exit-btn{
    background: #444;
    z-index: 9999;
}
.exit-btn li{
    display: block;
    min-width: 150px;
    text-align: center;
}
.exit-btn li:hover{
    border-right: 1px solid #2cc185;
    border-left: 1px solid #2cc185;
}
.exit-btn li a{
    text-decoration: none;
}
.light-btn{
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #2cc185;
    font-size: 20px;
    text-align: center;
    background: #333;
    height: 30px;
    line-height: 30px;
    padding: 5px 15px;
    border-radius: 18px;
    -moz-transition: .15s;
    -webkit-transition: .15s;
    -o-transition: .15s;
}

/* #container*/

#container{
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
    z-index: -1;
    border-top: 2px solid red;
    width: 100%;
    background: #efefef;
    max-height: 100%;
    overflow: hidden;;
}

.menu-nav{
    float: left;
    width: 70px;

    height: 100%;
    margin-left: 0px;
    text-align: center;
    z-index: 99999;
    background: #222;
}
.menu-nav ul{
    padding: 0;
}
.menu-nav ul li{
    display: block;
    list-style-type: none;
}
.menu-nav ul li:hover{

}
.menu-nav ul li a{
    color: #2cc185;
    font-size: 13px;
    text-decoration: none;
}
.menu-nav ul li a:hover{
    color: #ffffff;
}

.my-music-div{
    width: 85%;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.my-music-info{
    float: left;
    height: 100%;
    background: #e0e0e0;
    border-left: 2px solid #999;
    overflow: hidden;
}

/*login & register page*/
.container-div{
    height: 100%;
    background: rgba(40,44,42,0.05);
    overflow: hidden;
}
.not-login{
    margin-top: 10px;
    text-align: right;
}
.has-login{
    text-align: right;
}
.user-head-photo{
  width:60px;
  height: 60px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius:  30px;
    -ms-border-radius:  30px;
    -khtml-border-radius: 30px;
    border-radius: 50%;
  border: 2px solid #2cc185;

}

.my-music-div{
    height: 100%;
    background: #f0f0f0;
    overflow-x: hidden;
    overflow-y: auto;
}
/*  music info details*/

.tag-tab{
    padding: 5px 13px;
    margin-right: 10px;
    background: #fff;
    border: 1px solid #999;
    cursor: pointer;
    color: #333;
}
.tag-tab:hover{

}
.current-tab{
    border:1px solid #2cc185;
    color: #2cc185;
}
.avtive-tab{
    border:1px solid #2cc185;
    color: #2cc185;
}
.music-info{
    margin: 10px 20px;
    padding: 10px;
    border: 2px solid #2cc185;
}
.title{
    color: #2cc185;
    font-size: 18px;
    font-weight: bold;

}
.info-table{
    margin: 0 auto;
}
.info-table tr td{
    padding: 5px 10px;
}

.info-table tr td input[type="text"]{
    width: 250px;
}


.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    right: 0;
    left: 0;
    background: #108d4e;
}
.ok-sign-color{
    color: #4cb6cb
}