/** Main layout **/

html, body {
    background: #ddd !important;
    font-family: Helvetica, Arial, Sans !important;
}

body {
    width: 100%;
    margin: auto;
}

#captcha{
    display: block;
    height: 50px;  
}
/*QQ和新浪图标*/
.icon_wb{
    background: url("/public/img/wbqq.png") no-repeat scroll left top rgba(0,0,0,0);
    float: left;
    height: 54px;
    margin: 0 30px 0 10px;
    width: 54px;
}
.icon_qq{
    background: url("/public/img/wbqq.png") no-repeat scroll right top rgba(0,0,0,0);
    float: left;
    height: 54px;
    width: 54px;
}

/*打分、好评的图标*/
.rate-icon {
    background: url("/public/img/icon_v2.gif") no-repeat scroll 1000px 1000px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding-left: 20px;
    width: 30px;
}
.rate-ok {
    background-position: -237px -104px;
}
.rate-normal {
    background-position: -236px -244px;
}
.rate-bad {
    background-position: -237px -174px;
    padding-left: 22px;
}

/*按钮*/
.big-btn{
   background-color: #2cc185;
   padding:8px 20px;
   color: #ffffff;
   font-size: 16px;
    cursor: pointer;
}

.big-btn-green {
    color: #fff;
    font-size: 14px;
    background-color: #39b94e;
    height: 40px;
    line-height: 40px;
    width: 160px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
}
.big-btn-gray {
    color: #fff;
    font-size: 14px;
    background-color: gray;
    height: 40px;
    line-height: 40px;
    width: 160px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
}

.red{
    color: #ff0000;
    font-size: 16px;
}
.green{
    color: green;
    font-size: 14px;
}


/*footer icon*/

#footer{
    background: #333;
    height: 200px;
    min-width: 100%;
    position: absolute;
    bottom: 0px;
}
.footer-sns{
    padding-top: 30px;
    text-align: center;
}
.footer-sns a{
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
    background-image: url(../img/idx-btm.png);
    background-repeat: no-repeat;
    margin: 0 9px;
}
.footer-sns-weibo{
    background-position: 0 -221px;
}
.footer-sns-weixin{
    position: relative;
    background-position: -52px -221px;
}
.footer-sns-qqweibo{
    background-position: -104px -221px;
}
.footer-sns-qzone{
    background-position: -156px -221px;
}

.footer-sns-weibo:hover{
    background-position: 0 -262px;
}
.footer-sns-weixin:hover{
    background-position: -52px -262px;
}
.footer-sns-qqweibo:hover{
    background-position: -104px -262px;
}
.footer-sns-qzone:hover{
    background-position: -156px -262px;
}
.footer-sns-weixin i{
    position: absolute;
    display: none;
    width: 176px;
    height: 210px;
    background: url("/public/img/idx-btm.png") no-repeat 0 0;
    left:-72px;
    bottom:40px;
}
.footer-sns-weixin:hover i{
    display: block;
}

.footer-link{
    width: 900px;
    padding: 30px 0 10px 0;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #f4f7f8;
}
.footer-link a{
    margin: 0 10px;
    color: #99a1a6;
    text-decoration: none;
}
.footer-link a:hover{
    color: #2cc185;
}

.footer-copyright{
    padding: 20px 0 35px;
    text-align: center;
    color: #b4bbbf;
}


.tm-paging-container {
    font-size: 14px;
}
.tm-paging-container .paging-nav {
    display: inline-block;
    *display: inline; /* zoom: 1; */ /* height: 16px; */
    width: 24px;
    text-decoration: none;
    margin: 0px 2px;
    font-weight: bold;
    text-align: center;
    padding: 4px 0px;
}
.tm-paging-container .paging-link {
    background: #4cb6cb;
    color: #fff;
    cursor: pointer;
}
.tm-paging-container .paging-link:hover {
    background: #2cc185;
}
.tm-paging-container .paging-select {
    background: #2cc185;
    color: #fff;
    cursor: default;
}
.tm-paging-container .paging-size-link {
    background: #4cb6cb;
    color: #fff;
    cursor: pointer;
}
.tm-paging-container .paging-size-link:hover {
    background: #2cc185;
}
.tm-paging-container .paging-size-select {
    background: #2cc185;
    color: #fff;
    cursor: default;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(50,50,50,0.25);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(50,50,50,0.5);
}
::-webkit-scrollbar-track {
    background-color: rgba(50,50,50,0.05);
}