
.add-music-form{
    overflow: hidden;
    position: relative;
    text-align: center;
}
.input-div{
    border: 1px solid #2cc185;
    width: 400px;
    margin: 0 auto;
    text-align: left;
    display: inline-block;
    overflow: hidden;
    height: 35px;
}
.input-div input{
    display: inline-block;
    padding: 3px 10px;
}
.file-name{
    height:35px;
    border:0;
    width:300px;
    background:none;
    font-size: 16px;
}
.file{
    clear: both;
    float: left;
    cursor: pointer;
    margin-top: -45px;
    width: 400px;
    height:38px;
    filter:alpha(opacity:0);
    opacity: 0;
    border: 1px solid #c9394a;
}

p.view{
    width: 94px;
    height: 35px;
    background: #2cc185;
    color: #ffffff;
    font-size: 16px;
    padding-top: 6px;
    padding-left: 28px;
    float: right;
}

.tag-select{
    cursor: pointer;
}


#player {
    width: 100%;
}
#playlist {
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    margin:0px auto;
    list-style-type: none;
    overflow: hidden;
}
#playlist ul{
    overflow: hidden;
    margin-left: 0;
}

#playlist ul li{
    overflow: hidden;
    display: inline-block;
}
.music-play-div{
    position: relative;
    margin-top: -240px;
    height: 240px;
    background: rgba(0,0,0,0.75);
    color: #ffffff;
    text-align: left;
    padding-top: 5px;
}
.music-info-div{
    overflow: hidden;
}
.music-play-div .play{
    height: 40px;
    overflow: hidden;
    margin-top: 100px;
    text-align: center;
}

.play-music{
    cursor: pointer;
}
.isPlaying{
    display: block;
}
.song-info span{
    display: block;
    color: #333;
    margin: 0;
    padding: 0;
}
.top-target-tag{
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
}
.target-tag{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 20px;
    line-height: 20px;
}
.target-tag span{
    cursor: pointer;
}
.top-target-tag{
    margin-left: 10px;
}
.top-target-tag span{
    font-size: 9px;
    color: #4cb6cb;
    margin-right: -5px;
    padding: 0;
}