
body {
  background: #333;
  color: #2cc185;
    font-size: 16px;
}

:focus{
    outline:none;
}

::selection {
    background: #2cc185; /* Safari */
    color:#333;
}

::-moz-selection {
    background: #2cc185; /* Firefox */
    color:#333;
}


a {
  outline: none;
  text-decoration: none;
}


.clear {
  clear: both;
}

#background {

  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}



.music-title{
    height: 30px;
    margin-left: 40px;
    padding: 5px;
}

