* {
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  color: #2cc185;
    font-size: 16px;
}

:focus{
    outline:none;
}

::selection {
    background: #2cc185; /* Safari */
    color:#333;
}

::-moz-selection {
    background: #2cc185; /* Firefox */
    color:#333;
}


a {
  outline: none;
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

#background {

  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}

#player {
    position:relative;
    width:960px;
    margin:0px auto;
    height:180px;
    background:#fff;
    overflow:hidden;
}
#player .cover {
  background: rgba(40,44,42,0.05);
  position: absolute;
  overflow: hidden;
  width: 180px;
  height: 180px;
}
#player .cover img {
  width: 180px;
  height: 180px;
}
#player .ctrl {
    background: rgba(40,44,42,0.05);
  margin-left: 180px;
  min-height: 180px;
    padding-top: 10px;
}
#player .ctrl .tag strong, #player .ctrl .tag span {
  display: block;
  text-overflow: ellipsis;
}
#player .ctrl .tag{
    text-align: left;
    margin-left: 15px;
}
#player .ctrl .tag span {
  font-size: 12px;
  margin-top: 5px;

}
#player .ctrl .glyphicon {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  opacity: 0.6;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
#player .ctrl .glyphicon:hover {
    color: green;
  opacity: 1;
}
#player .ctrl .glyphicon.enable{
    color: green;
    opacity: 1;
}
#player .ctrl .glyphicon:active {
  opacity: 0.3;
}
#player .ctrl .control {
  margin-top: 20px;
  height: 25px;

}

#player .ctrl .control .left{
    margin-left: 10px;

}

#player .ctrl .control .volume .mute {
   cursor: pointer;
}
#player .ctrl .control .volume .mute.enable {

}
#player .ctrl .control .volume .slider {
  margin-top: 8px;
  margin-left: 0px;
  margin-right: 5px;
  width: 100px;
}
#player .ctrl .progress {
  margin-top: 20px;
  min-height: 40px;
    color: white;
    background: #2cc185;
}
#player .ctrl .progress .timer {
  font-size: 14px;
  color: #fff;
  margin-top: 8px;
    font-weight: bold;
}
#player .ctrl .progress .right {
    margin-right: 10px;
    padding-top: 5px;
    font-size: 14px;
}
#player .ctrl .progress .repeat-all,
#player .ctrl .progress .repeat-once,
#player .ctrl .progress .shuffle {
  background-position: center bottom;
    opacity: 1;
}

#player .ctrl .progress .repeat-once.once, #player .ctrl .progress .repeat-all.all {
    opacity: 1;
    color: green;
}
#player .ctrl .progress .repeat.once {
    position: relative;
}
.slider {
  background: #fff;
  height: 8px;
  position: relative;
  cursor: pointer;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
}
.progress{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}
.slider:hover a, .slider.enable a {
    color: green;
  opacity: 1;
}
.slider a {
  background: #fff;
  margin-left: -2.5px;
  position: absolute;
  opacity: 0;
  width: 8px;
  height: 8px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;

}
.slider .loaded, .slider .pace {
  position: absolute;
  height: 100%;
  opacity: 1;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    background: #fff;
}
.slider .pace {
  background: #2cc185;
}

#playlist {
    background: #2cc185;
    color:#fff;
    font-size: 16px;
    width:960px;
    margin:0px auto;
    list-style-type: none;
}
#playlist li {
    border-bottom: 1px solid rgba(255,255,255,0.25);
    position:relative;
    white-space: nowrap;
  font-size: 14px;
  line-height: 40px;
    text-align: left;
  padding-left: 5px;
  cursor: pointer;
  text-overflow: ellipsis;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
    display: block;

}
#playlist ul{
    margin-left:40px;
}
#playlist ul:first-child{

}
#playlist li:hover {
    background:rgba(255,255,255,0.25);
}
#playlist li.playing {
    background:rgba(255,255,255,0.25);
}
#playlist li.playing:before{
    font-style: normal;
    font-weight: normal;
    font-size: 1.15em;
    position: absolute;
    left: -30px;
}
#playlist a{
    display:block;
    color:#fff;
    text-decoration:none;
    line-height: 40px;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
}
#playlist li span.right {
    margin-right: 10px;
    width: 20px;
    padding-top: 10px;

}
#playlist li a.right {
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    font-size: 13px;
}
#playlist li a.right:hover {
   color: green;
}
#playlist li span.right:hover {
    color: green;
}
.repeat-tip{
    position: absolute;
    top: 2px;
    left: 5px;
}


