#{extends 'index.html' /}
#{set title:"临时列表"/}

<style type="text/css">
    .top-music-container{
        position: absolute;
        right: 0px;
        left: 70px;
        bottom: 0px;
        top:0;
        background: #fff;
        overflow: hidden;
        background: url("/public/img/music/music_3.jpg") no-repeat center -200px;
    }
    .top-div{
        width: 25%;
        float: left;
        overflow: hidden;
        background: #333;
        border-left: 1px solid #999;
        height: 100%;
        overflow: hidden;
    }
    .top-div:hover{
       overflow-y: auto;
    }
    .top-div ul{
        width: 90%;
        margin: 0 auto;
        height: 100%;
    }
    .top-div ul li{
        border-top:1px solid;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;

    }
    .top-div ul li:last-child{
        border-bottom:1px solid;
    }
    .top-div ul li:hover{

        background: rgba(255,255,255,0.05);
    }
    .title-div{
        margin: 10px auto;
        width: 90%;
    }
    .top-title,.listen-btn{
        font-size: 24px;
        font-weight: 700;
    }
    .listen-btn{
        cursor: pointer;
        background: #555;
        display: block;
        padding: 10px 0;
        width: 100%;
    }
    .listen-btn:hover{
        opacity: 0.7;
    }
    .music-user-info{
        margin-left: 10px;
        width: auto;
        display: inline-block;
        font-size: 16px;
    }
    .music-user-info span{
        height: 30px;
        line-height: 30px;
    }
    .top-index{
        font-size: 25px;
        margin-top: 15px;
        font-weight: 700;
        text-align: center;
        width: 30px;
    }
    .song-title a{
        display: block;
        width: 150px;
        height: 30px;
        text-overflow:ellipsis;
        white-space:nowrap;
        overflow:hidden;
    }
</style>

<div class="top-music-container">
    <div class="top-div first-div" style="color: #999;">
        <div class="event-link">
            <div class="title-div">
                <span class="top-title" >Listen TOP</span>
            </div>
            <ul class="first-div-ul playlist-ul">

            </ul>
            <div class="title-div" style="text-align: center">
                <span class="listen-btn" order="first" >全部收听</span>
            </div>
        </div>

    </div>
    <div class="top-div second-div" style="color: #c6b545;">
        <div class="event-link">
            <div class="title-div">
                <span class="top-title" >Heart TOP</span>
            </div>
            <ul class="second-div-ul playlist-ul">

            </ul>

            <div class="title-div" style="text-align: center">
                <span class="listen-btn" order="second" >全部收听</span>
            </div>

        </div>
    </div>
    <div class="top-div third-div" style="color: #3ea06b">
        <div class="event-link">
            <div class="title-div">
                <span class="top-title" >Add TOP</span>
            </div>
            <ul class="third-div-ul playlist-ul">

            </ul>

            <div class="title-div" style="text-align: center">
                <span class="listen-btn" order="third" >全部收听</span>
            </div>

        </div>
    </div>
    <div class="top-div four-div" style="color: #9c4e4e">
        <div class="event-link">
            <div class="title-div">
                <span class="top-title" >New Songs</span>
            </div>
            <ul class="four-div-ul playlist-ul">

            </ul>

            <div class="title-div" style="text-align: center">
                <span class="listen-btn" order="four" >全部收听</span>
            </div>

        </div>
    </div>
</div>

<script type="text/x-jquery-tmpl" id="topMusicLiTmpl">
    <li class="music-div-li" >

        <div style="width: 60px;display: inline-block;float: left;">
            <img width="55px" height="55px" src="{{= imgPath}}" alt="">
        </div>
        <div class="music-user-info">
            <span class="song-title" ><a href="/MusicAdmin/index?songinfo={{= songTitle}}" title="{{= songTitle}}">{{= songTitle }}</a></span>
            <span class="share-user" >by {{= username}}</span>
        </div>

        <span class="top-index right">{{= index}}</span>

        <div class="isplay-tip">
              <span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">
                    <span class="bar1 a1 bg-primary lter"></span>
                    <span class="bar2 a2 bg-info lt"></span>
                    <span class="bar3 a3 bg-success"></span>
                    <span class="bar4 a4 bg-warning dk"></span>
                    <span class="bar5 a5 bg-danger dker"></span>
              </span>
        </div>

    </li>
</script>


<script type="text/javascript">

    $(document).ready(function() {
        yabe.gcs("/public/js/topmusic.js", function () {
            yabe.GenTopMusic.init.doInit($(".top-music-container"));
        });
    })

</script>

