#{extends 'main.html' /}
#{set title:"登录页面" /}

<style type="text/css">
    .container{
        width: 960px;
        margin: 0 auto;
    }

    .right{
        text-align: right;
    }
    .login-table tr td{
       padding: 10px 10px;
    }
    .login-table tbody tr td{
        position: relative;
    }
    .glyphicon-ok{
        color:#3c763d;
    }
    .glyphicon-error{
        color: #ff0000;
    }

</style>

<div class="container">
    <table border="0" class="login-table" cellspacing="0" width="80%">
        <tbody>
        <tr>
            <td class="right">用户名：</td>
            <td>
                <input type="text" class="username"  size="30"  placeholder="请输入用户名" >
                <span class="user-tip glyphicon glyphicon-ok has-success"></span>
            </td>
        </tr>
        <tr>
            <td class="right">密码：</td>
            <td>
                <input type="text" class="password" size="30"  placeholder="请输入密码" >
                <span class="pwd-top glyphicon glyphicon-ok "></span>
            </td>
        </tr>
        <tr>
            <td class="right">验证码：</td>
            <td>
                <input type="text" class="password" size="30"  placeholder="请输入验证码" >
                <span class="chap-tip glyphicon glyphicon-ok "></span>
                <span><img class="img" src="/Application/captcha?id=${randomID}" /></span>
            </td>
        </tr>
        <tr>
            <td><input type="hidden" name="randomID" class="randomID" value="${randomID}" /></td>
            <td> <span class="btn btn-primary" type="button">登录</span> </td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        yabe.gcs("/public/js/login.js?_v=1", function () {
            yabe.Login.init.doInit($('.container'));
        });
    });

</script>
