#{extends 'main.html' /}
#{set title:"登录页面" /}

<style type="text/css">

    .reg-table tr td{
        padding: 10px 10px;
    }
    .reg-table tbody tr td{
        position: relative;
    }

</style>

<div class="container reg-container">
    <div class="row">
        <div class="left-div col-md-6">
            <table border="0" class="reg-table" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td class="right">用户名：</td>
                    <td>
                        <input type="text" class="username"  size="30"  placeholder="请输入用户名" >
                        <span class="user-tip glyphicon "></span>
                    </td>
                </tr>
                <tr>
                    <td class="right">密码：</td>
                    <td>
                        <input type="password" class="password" size="30"  placeholder="请输入密码" >
                        <span class="pwd-tip glyphicon "></span>
                    </td>
                </tr>
                <tr>
                    <td class="right">密码：</td>
                    <td>
                        <input type="password" class="password1" size="30"  placeholder="请再次输入密码" >
                        <span class="pwd1-tip glyphicon "></span>
                    </td>
                </tr>
                <tr>
                    <td class="right">邮箱：</td>
                    <td>
                        <input type="text" class="email" size="30"  placeholder="请输入邮箱" >
                        <span class="email-tip glyphicon "></span>
                    </td>
                </tr>
                <tr>
                    <td class="right">验证码：</td>
                    <td>
                        <input type="text" class="code" size="30"  placeholder="请输入验证码" >
                        <span class="chap-tip glyphicon"></span>
                        <span><img class="captcha" src="/Application/captcha?id=${randomID}" /></span>
                    </td>
                </tr>
                <tr>
                    <td><input type="hidden" name="randomID" class="randomID" value="${randomID}" /></td>
                    <td> <span class="btn btn-primary submit" type="button">注册</span> </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="right-div col-md-5">
            <div>已有bingo帐号？</div>
            <a class="registor_now" href="/ALLogin/index">直接登录 >>></a>
            <div class="login_others">使用以下帐号直接登录:</div>
            <a class="icon_wb" title="使用新浪微博帐号登录" target="_blank" href="http://www.lagou.com/ologin/auth/sina.html"></a>
            <a class="icon_qq" title="使用腾讯QQ帐号登录" target="_blank" href="http://www.lagou.com/ologin/auth/qq.html"></a>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        yabe.gcs("/public/js/register.js?_v=2", function () {
            yabe.Register.init.doInit($('.reg-container'));
        });
    });

</script>
