#{extends 'index.html' /}
#{set title:"听音乐"/}

<link rel="stylesheet" href="/public/css/musicListen.css">
<style type="text/css">

</style>

<div class="listen-music-container">
        <div class="first-div">
            <div class="first-div-image" style="height: 300px;overflow: hidden;">
               <img class="img-full" src="/public/img/logo.jpg" alt="">
            </div>

           <ul class="first-div-ul">

           </ul>
        </div>
        <div class="second-div">
            <ul class="second-div-ul">

            </ul>
        </div>
        <div class="third-div">
            <div class="TOP-10">
                <img class="img-full" src="/public/img/20014340.jpg" alt="">
            </div>
            <div class="TOP-10">
                <img class="img-full" src="/public/img/logo.jpg" alt="">
            </div>
        </div>
</div>


<script type="text/x-jquery-tmpl" id="firstMusicLiTmpl">
    <li class="first-div-li" >
        <span class="glyphicon glyphicon-play"  data-toggle="tooltip"  title="播放">&nbsp;</span>
        <span class="" >{{= songTitle }}</span> --
        <span class="singer " >{{= singer}}</span>

        <span class="right glyphicon glyphicon-trash remove"  data-toggle="tooltip"  title="删除">&nbsp;</span>
        <span class="right glyphicon glyphicon-plus plus" style="font-size:13px;" data-toggle="tooltip" title="添加">&nbsp;</span>
        <span class="right glyphicon glyphicon-heart heart"  data-toggle="tooltip" title="喜欢">&nbsp;</span>

    </li>
</script>

<script type="text/x-jquery-tmpl" id="secondMusicLiTmpl">
    <li class="second-div-li" >
        <div style="width: 50px;display: inline-block;float: left;">
            <img width="40px" height="40px" src="{{= imgPath}}" alt="">
        </div>
        <div style="width: auto;display: inline-block;">
            <span class="song-title" ><a>{{= songTitle }}</a></span><br/>
            <span class="share-user" >by {{= singer}}</span>
        </div>

        <span class="right glyphicon glyphicon-play" style="margin: 10px;font-size: 16px;">&nbsp;</span>

    </li>
</script>

<script type="text/javascript">

    $(document).ready(function() {
        yabe.gcs("/public/js/music/toListen.js", function () {

            yabe.ToListen.init.doInit($(".listen-music-container"));
        });
    })

</script>




