#{extends 'index.html' /}
#{set title:"听音乐"/}

<link rel="stylesheet" href="/public/css/myMusic.css">
<style type="text/css">

</style>

<div class="my-music-div">
    <div id="player">
        <div class="cover"></div>
        <div class="ctrl">
            <div class="tag">
                <strong>Title</strong>
                <span class="artist">Artist</span>
                <span class="album">Album</span>
            </div>
            <div class="control">
                <div class="left">
                    <div class="rewind glyphicon glyphicon-step-backward"></div>
                    <div class="playback glyphicon glyphicon-pause"></div>
                    <div class="fastforward glyphicon glyphicon-step-forward"></div>
                </div>
                <div class="volume right">
                    <div class="glyphicon glyphicon-volume-up mute left"></div>
                    <div class="slider left">
                        <div class="pace"></div>
                    </div>
                </div>
            </div>
            <div class="progress">
                <div class="slider">
                    <div class="loaded"></div>
                    <div class="pace"></div>
                </div>
                <div class="timer left">0:00</div>
                <div class="right">
                    <div class="repeat-all glyphicon glyphicon-retweet" data-toggle="tooltip" title="全部循环"></div>
                    <div class="repeat-once glyphicon glyphicon-repeat" data-toggle="tooltip" title="单曲循环"><span class="repeat-tip">1</span></div>
                    <div class="shuffle glyphicon glyphicon-random" data-toggle="tooltip" title="随机播放"></div>
                </div>
            </div>
        </div>
        <audio class="audio" autoplay>

        </audio>
    </div>

    <div id="playlist">
        <ul class="my-music-ul">

        </ul>
    </div>
</div>


<script type="text/x-jquery-tmpl" id="myMusicLiTmpl">
    <li class="glyphicon playing glyphicon-music" title="双击播放">
        <span style="width:450px"><a href="/MusicAdmin/DetailsInfo?musicId={{= id}}" target="_blank">{{= songTitle }}</a> </span>
        <span class="singer" style="width:200px">- {{= singer}}</span>

        <span class="right glyphicon glyphicon-trash remove"  data-toggle="tooltip" title="删除">&nbsp;</span>

    *{<a class="right" href="/MusicAdmin/getMusic?musicId={{= id}}" data-toggle="tooltip" title="下载" target="_blank">
            <span class="glyphicon glyphicon-download-alt download"></span></a>}*
        <span class="right glyphicon glyphicon-plus plus" style="font-size:14px;"  data-toggle="tooltip"  title="添加"></span>
        <span class="right glyphicon glyphicon-heart heart"  data-toggle="tooltip" title="喜欢">&nbsp;</span>
    </li>
</script>

<script src="/public/js/music/getMusic.js"></script>

