#{extends 'index.html' /}
#{set title:"听音乐"/}

<link rel="stylesheet" href="@{'public/css/music.css'}" />
<link rel="stylesheet" href="/public/css/myMusic.css">
<style type="text/css">

</style>

<div class="container-div">
    <div class="menu-nav">
        <ul>
            <li><a href="#">欧美</a></li>
            <li><a href="#">日韩</a></li>
            <li><a href="#">港台</a></li>
            <li><a href="#">内地</a></li>

        </ul>
    </div>

    <div class="my-music-div">
        <div id="player">
            <div class="cover"></div>
            <div class="ctrl">
                <div class="tag">
                    <strong>Title</strong>
                    <span class="artist">Artist</span>
                    <span class="album">Album</span>
                </div>
                <div class="control">
                    <div class="left">
                        <div class="rewind glyphicon glyphicon-step-backward"></div>
                        <div class="playback glyphicon glyphicon-pause"></div>
                        <div class="fastforward glyphicon glyphicon-step-forward"></div>
                    </div>
                    <div class="volume right">
                        <div class="glyphicon glyphicon-volume-up mute left"></div>
                        <div class="slider left">
                            <div class="pace"></div>
                        </div>
                    </div>
                </div>
                <div class="progress">
                    <div class="slider">
                        <div class="loaded"></div>
                        <div class="pace"></div>
                    </div>
                    <div class="timer left">0:00</div>
                    <div class="right">
                        <div class="repeat-all glyphicon glyphicon-retweet" title="全部循环"></div>
                        <div class="repeat-once glyphicon glyphicon-repeat" title="单曲循环"></div>
                        <div class="shuffle glyphicon glyphicon-random"></div>
                    </div>
                </div>
            </div>
            <audio class="audio" autoplay>

            </audio>
        </div>

        <div id="playlist">
            <ul class="my-music-ul">

            </ul>
        </div>
    </div>
</div>

<script type="text/x-jquery-tmpl" id="myMusicLiTmpl">
    <li class="glyphicon playing glyphicon-music">{{= songTitle }} - {{= singer}}
        <span class="right glyphicon glyphicon-trash remove"  title="删除">&nbsp;</span>
        <span class="right glyphicon glyphicon-download-alt download"  title="下载"></span>
        <span class="right glyphicon glyphicon-plus plus" style="font-size:13px;padding-top:11px;"  title="添加">&nbsp;</span>
        <span class="right glyphicon glyphicon-heart heart" title="喜欢">&nbsp;</span>
    </li>
</script>


<script src="/public/js/music/getMusic.js"></script>
