#{extends 'index.html' /}
#{set title:"听音乐"/}

<link rel="stylesheet" href="/public/music/css/stylesheets/style.css">
<style type="text/css">
    .my-music-div{
        min-height: 700px;
    }
</style>

<div class="my-music-div">
    <div id="player">
        <div class="cover"></div>
        <div class="ctrl">
            <div class="tag">
                <strong>Title</strong>
                <span class="artist">Artist</span>
                <span class="album">Album</span>
            </div>
            <div class="control">
                <div class="left">
                    <div class="rewind glyphicon glyphicon-backward"></div>
                    <div class="playback glyphicon glyphicon-pause"></div>
                    <div class="fastforward glyphicon glyphicon-forward""></div>
                </div>
                <div class="volume right">
                    <div class="glyphicon glyphicon-volume-up mute left"></div>
                    <div class="slider left">
                        <div class="pace"></div>
                    </div>
                </div>
            </div>
            <div class="progress">
                <div class="slider">
                    <div class="loaded"></div>
                    <div class="pace"></div>
                </div>
                <div class="timer left">0:00</div>
                <div class="right">
                    <div class="repeat glyphicon glyphicon-retweet" title="单曲循环"><span class="repeat-tip">1</span></div>
                    <div class="shuffle glyphicon glyphicon-random"></div>
                </div>
            </div>
        </div>
    <audio class="audio" autoplay>

    </audio>
    </div>

    <div id="playlist">
        <ul class="my-music-ul">

        </ul>
    </div>
</div>


<script type="text/x-jquery-tmpl" id="myMusicLiTmpl">
    <li class="glyphicon playing glyphicon-music">{{= songTitle }} - {{= singer}}
        <span class="right glyphicon glyphicon-trash remove"  title="删除">&nbsp;</span>
        <span class="right glyphicon glyphicon-download-alt download"  title="下载">&nbsp;</span>
        <span class="right glyphicon glyphicon-plus plus" style="font-size:13px;padding-top:11px;"  title="添加">&nbsp;</span>
        <span class="right glyphicon glyphicon-heart heart" title="喜欢">&nbsp;</span>
    </li>
</script>


<script src="/public/js/music/script.js"></script>
