#{extends 'index.html' /}
#{set title:"音乐分享"/}

<link rel="stylesheet" href="@{'public/css/music.css'}" />
<link rel="stylesheet" href="/public/css/myMusic.css">
<style type="text/css">

</style>

<div class="container-div">
    <div class="menu-nav">
        <ul>
            <li><a href="#">欧美</a></li>
            <li><a href="#">日韩</a></li>
            <li><a href="#">港台</a></li>
            <li><a href="#">内地</a></li>

        </ul>
    </div>
        <legend>音乐上传</legend>
        <div class="add-music-form">
            <form action="@@{MusicAdmin.uploadMusic()}" method="post" enctype="multipart/form-data">
            #{if message}
                <div style="text-align: center;"><span class="red">${message}</span></div>
            #{/if}
                <div class="input-div" style="">
                    <input type='text' name='textfield' id='textfield' class='file-name' />
                    <p class='view'>浏览</p>
                    <input type="file" name="musicFile" class="file" id="musicFile" size="28" onchange="document.getElementById('textfield').value=this.value" />
                </div>
                <span class='big-btn add-submit-btn' style="position:absolute;margin-left: 5px;bottom: 4px;">添加</span>
            </form>
        </div>


        #{if music}
        <div class="music-info">
            <div class="title">音乐详情</div>
            <div class="music-info-detail">
                <table class="info-table" style="border-bottom: 1px solid #f0f0f0;">
                    <tr>
                        <td><span>歌名：</span>
                        <input class="musicId" style="display: none;" value="${music?.id}">
                        </td>
                        <td style="width: 300px;"><input type="text" class="artister-input" value="${music?.songTitle}"></td>
                        <td><span>歌手：</span></td>
                        <td style="width: 300px;"><input  type="text" class="singer-input" value="${music?.singer}"></td>
                    </tr>
                    <tr>
                        <td><span>文件名：</span></td>
                        <td style="width: 300px;"><input  type="text" class="fileName-input" value="${music?.filaName}"></td>
                        <td><span>专辑：</span></td>
                        <td style="width: 300px;"><input  type="text" class="album-input" value="${music?.album}"></td>

                    </tr>
                </table>
                <div style="height: 15px"></div>
                <div class="title" style="margin-bottom: 15px;">音乐类型设置</div>
                <table class="info-table">
                    <tr>
                        <td><span class="tag-tab music-tag-tab" tag="日韩">日韩</span></td>
                        <td><span class="tag-tab music-tag-tab" tag="欧美">欧美</span></td>
                        <td><span class="tag-tab music-tag-tab" tag="国语">国语</span> </td>
                        <td><span class="tag-tab music-tag-tab" tag="港台">港台</span></td>
                        <td><span class="tag-tab other-tab" tag="">其他</span> </td>
                        <td><span class="other-tag-tab" style="display: none;color: #333;">
                    <input type="text" class="tags-input">(请用逗号隔开)</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="padding-top: 10px;"> <span class='big-btn save-submit-btn'>保存</span></td>
                    </tr>
                </table>
            </div>
        </div>
        #{/if}

</div>


<script type="text/javascript">
    $(".add-submit-btn").unbind().click(function(){
        $(".add-music-form").find("form").submit();
    });
    $(".other-tab").unbind().click(function(){
        $('.other-tag-tab').toggle();
    });
    $('.tag-tab').unbind().click(function(){
        if($(this).hasClass("current-tab")){
             $(this).removeClass("current-tab")
        }else{
            $(this).addClass("current-tab")
        }

        if($(this).hasClass("other-tab")){
            $('.other-tag-tab').toggle();
        }
    });

    $('.save-submit-btn').unbind().click(function(){
        var container = $('.container-div');
        var paramData = {};
        var tagList = [];

        var checkedObjs = container.find('.current-tab');
        checkedObjs.each(function() {
            if($(this).attr('tag')!=""){
                tagList.push($(this).attr('tag'));
            }
        });

        if($('.other-tab').hasClass("current-tab")){
            var otherTags = container.find('.tags-input').val();
            tagList.push(otherTags);
        }

        var tags = tagList.join(",");
        alert(tags);
        paramData.tags = tags;
        paramData.musicId = $('.musicId').val();
        paramData.songTitle = container.find('.artister-input').val();
        paramData.singer = container.find('.singer-input').val();
        paramData.fileName = container.find('.fileName-input').val();
        paramData.album = container.find('.album-input').val();


        $.ajax({
            type: 'post',
            url: '/MusicAdmin/updateMusic',
            data: paramData,
            success: function (dataJson) {

                if(dataJson.isOk == false){
                    alert(dataJson.msg);
                    return;
                }
                alert(dataJson.msg);
                location.reload();
            }
        });

    });



</script>
