

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #e7ecea;
	color: #74777b;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

.container{
    width: 100%;
}

a {
	color: #2CC185;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #74777b;
}

.container > section {
	font-size: 1.25em;
	min-height: 100%;
}

.container > section.header {
    position: relative;
    background: #ffffff;
    z-index: 999;
}

.container > section.header .tab nav ul li a:hover{
    background: #2cc185;
    color:#2cc185;

}

.container > section.first{
    min-height: 600px;
    background: url("/public/img/music/music_3.jpg") no-repeat center -400px;
}

.container > section.first .first-tab{
    background: rgba(255,255,255,0.6);
    min-height: 600px;
}

.container > section.second{
    background: #fff;
    min-height: 200px;
}

.container > section ul li span{
   margin-top: 50px;
   font-size: 50px;
}

.container > section ul li span p{
    font-size: 18px;
}

.container > section.third{
    background: #eef1f2;
    min-height: 400px;
}

.container > section.footer{
    background: #fff;
    min-height: 200px;
}

p {
	text-align: center;
	padding: 1em;
}
