#{extends 'webmain.html' /}
#{set title:"嗨音乐" /}


<link rel="stylesheet" type="text/css" href="/public/home/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/public/home/css/demo.css" />


<link rel="stylesheet" type="text/css" href="/public/home/css/tabs.css" />
<link rel="stylesheet" type="text/css" href="/public/home/css/tabstyles.css" />

<script src="/public/home/js/modernizr.custom.js"></script>

<div class="container">

    <section class="first">

            <div class="hide-btn">
                <a class="listen-btn" href="/MusicAdmin/index">听音乐</a>
            </div>

    </section>
    <section class="second">
        <div class="tabs tabs-style-iconbox">
            <nav>
                <ul>
                    <li><span href="#" class="glyphicon glyphicon-headphones"><p>音乐随心听</p></span></li>
                    <li><span href="#" class="glyphicon glyphicon-download-alt"><p>自由下载</p></span></li>
                    <li><span href="#" class="glyphicon glyphicon-upload"><p>分享上传</p></span></li>
                </ul>
            </nav>
         </div>
    </section>

    <section class="third">
        <div class="photo-wall main">
            <div class="unit cl_1"></div>
            <div class="unit cl_2"></div>
            <div class="unit cl_3"></div>
            <div class="unit cl_4"></div>
            <div class="unit cl_5"></div>
            <div class="unit cl_6"></div>
            <div class="unit cl_7"></div>
            <div class="unit cl_8"></div>
            <div class="unit cl_9"></div>
            <div class="unit cl_10"></div>
            <div class="unit cl_11"></div>
            <div class="unit cl_12"></div>
            <div class="unit cl_13"></div>
            <div class="unit cl_14"></div>
            <div class="unit cl_15"></div>
            <div class="unit cl_16"></div>
            <div class="unit cl_17"></div>
            <div class="unit cl_18"></div>
            <div class="unit cl_19"></div>
            <div class="unit cl_20"></div>
            <div class="unit cl_21"></div>
            <div class="unit cl_22"></div>
            <div class="unit cl_23"></div>
            <div class="unit cl_24"></div>
        </div>
    </section>

    <section class="footer">
        <div class="mian">
          <div class="footer-sns">
                <a class="footer-sns-weibo hide-text" title="新浪微博" target="_blank" href="#">新浪微博</a>
                <a class="footer-sns-weixin" title="微信" target="_blank" href="#"></a>
                <a class="footer-sns-qqweibo hide-text" title="腾讯微博" target="_blank" href="#">腾讯微博</a>
                <a class="footer-sns-qzone hide-text" title="QQ空间" target="_blank" href="#">QQ空间</a>
            </div>

            <div class="footer-link">
                <a title="友情链接" target="_blank" href="http://douban.fm/">豆瓣电台</a>
                <a title="友情链接" target="_blank" href="http://music.baidu.com">百度音乐</a>
                <a title="友情链接" target="_blank" href="http://www.kuwo.cn/">酷我音乐</a>
                <a title="友情链接" target="_blank" href="http://y.qq.com/#type=index">QQ音乐</a>
                <a title="友情链接" target="_blank" href="http://www.yinyuetai.com/">音悦台</a>
                <a title="友情链接" target="_blank" href="http://www.imooc.com">慕课网</a>
            </div>

            <div class="footer-copyright">
                © 2014 happy.music.com 六巨头企业文化有限公司
            </div>
        </div>
    </section>

</div>

