#{extends 'webmain.html' /}
#{set title:"美食屋" /}


<link rel="stylesheet" type="text/css" href="/public/home/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/public/home/css/demo.css" />


<link rel="stylesheet" type="text/css" href="/public/home/css/tabs.css" />
<link rel="stylesheet" type="text/css" href="/public/home/css/tabstyles.css" />

<script src="/public/home/js/modernizr.custom.js"></script>
<div class="container">

    <section class="first">
        <div class="tabs tabs-style-iconbox">
            <nav>
                <ul>
                    <li><a href="#section-bar-1" class="icon icon-home"><span>Home</span></a></li>
                    <li><a href="#section-bar-2" class="glyphicon glyphicon-gift"><span>Gift</span></a></li>
                    <li><a href="#section-bar-3" class="glyphicon glyphicon-headphones"><span>music</span></a></li>
                    <li><a href="#section-bar-4" class="icon icon-upload"><span>Upload</span></a></li>
                    <li><a href="" class="glyphicon glyphicon-user my-music"><span>mime</span></a></li>
                </ul>
            </nav>
            <div class="content-wrap">
                <section id="section-bar-1">
                    <div class="hide-btn"><a class="hide-text" href="/MusicAdmin/index">听音乐</a></div>
                </section>
                <section id="section-bar-2">
                    <div class="hide-btn"><a class="hide-text" href="/MusicAdmin/index">听音乐</a></div>
                </section>
                <section id="section-bar-3">
                    <div class="hide-btn"><a class="hide-text" href="/MusicAdmin/index">随心听</a></div>
                </section>
                <section id="section-bar-4">
                    <div class="hide-btn"><a class="hide-text" href="/MusicAdmin/index">分享心情</a></div>
                </section>
                <section id="section-bar-5">
                    <div class="hide-btn"><a class="hide-text my-music">我的音乐</a></div>
                </section>
            </div><!-- /content -->
        </div><!-- /tabs -->
    </section>
    <section class="second">
        <div class="tabs tabs-style-iconbox">
            <nav>
                <ul>
                    <li><img src="/public/img/music/music_1.jpg" alt="" width="400px" height="300px"></li>
                    <li><img src="/public/img/music/music_1.jpg" alt="" width="400px" height="300px"></li>
                    <li><img src="/public/img/music/music_1.jpg" alt="" width="400px" height="300px"></li>
                </ul>
            </nav>
         </div>
    </section>

    <section class="third">

    </section>

    <section class="footer">
        <div class="mian">
            <div class="footer-sns">
                <a class="footer-sns-weibo hide-text" title="新浪微博" target="_blank" href="#">新浪微博</a>
                <a class="footer-sns-weixin" title="微信" target="_blank" href="#"></a>
                <a class="footer-sns-qqweibo hide-text" title="腾讯微博" target="_blank" href="#">腾讯微博</a>
                <a class="footer-sns-qzone hide-text" title="QQ空间" target="_blank" href="#">QQ空间</a>
            </div>

            <div class="footer-link">
                <a title="友情链接" target="_blank" href="http://douban.fm/">豆瓣电台</a>
                <a title="友情链接" target="_blank" href="http://music.baidu.com">酷我音乐</a>
                <a title="友情链接" target="_blank" href="http://www.kuwo.cn/">酷我音乐</a>
                <a title="友情链接" target="_blank" href="http://y.qq.com/#type=index">QQ音乐</a>
                <a title="友情链接" target="_blank" href="http://www.yinyuetai.com/">音悦台</a>
                <a title="友情链接" target="_blank" href="http://www.imooc.com">慕课网</a>
            </div>

            <div class="footer-copyright">
                © 2014 happy.oppa.com 六巨头企业文化有限公司
            </div>
        </div>
    </section>

</div>

<script type="text/javascript" src="/public/home/js/cbpFWTabs.js"></script>
<script type="text/javascript">
    (function() {

        [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
            new CBPFWTabs( el );
        });

    })();
</script>
<script type="text/javascript">
    (function() {
      $(".my-music").unbind().click(function(){
          checkLogin();
      });

      var checkLogin = function(){
          $.ajax({
              type: 'post',
              url: '/AllUser/getUser',
              data: {},
              success: function (dataJson) {

                  var isOk = dataJson.isOk;

                  if(isOk==false){
                      yabe.LoginRegister.submit.toLogin();
                      return;
                  }
                  location.href = "/MusicAdmin/myHouse"
              }
          })
      }

    })();
</script>