#{extends 'webmain.html' /}
#{set title:"嗨音乐" /}

<link rel="stylesheet" type="text/css" href="/public/home/css/tabs.css" />
<link rel="stylesheet" type="text/css" href="/public/css/index.css" />
<script src="/public/js/musicControl.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
   .logo{
       float: left;
       height: 100%;
       width: 70px;
       background: #4cb6cb;
       text-align: center;

   }
    .logo-img{
        display: block;
        margin-top: 15px;
        color: #fff;
    }
    .search-div{
        height: 30px;
        width: 200px;
        border-radius: 15px;
        border: 1px solid #ccc;
        overflow: hidden;
        position: relative;
    }
    .search-div-input{
        width: 100%;
        height: 100%;
        background: none;
        border: 0;
        padding: 5px 30px;
    }
    .search-div-icon{
        position: absolute;
        left: 7px;
        top:7px;
        cursor: pointer;
        color: #999;
        font-size: 13px;
    }

</style>

<div class="container">
        <div class="header">
            <div class="logo">
                <span class="logo-img glyphicon glyphicon-headphones"></span>
            </div>

            <div class="main-nav">
                <ul>
                    <li>
                        <div class="search-div">
                          <span class="search-div-icon glyphicon glyphicon-search"></span>
                          <input type="text" class="search-div-input" placeholder="输入歌手、专辑...">
                        </div>
                    </li>
                </ul>
            </div>


            <div class="right-nav">
                <ul>
                    <li class="user-nav">
                        <div class="has-login" style="display:none;">
                            <a href="/UserCenter/RefreshHeadPhoto"><img src="/public/img/logo.png" width="60px" height="60px" class="user-head-photo" alt="嗨音乐"></a>
                            <ul class="exit-btn" style="padding: 0;display: none;">
                                <li><a href="/ALLogin/doLogout">退出</a></li>
                            </ul>
                        </div>
                        <div class="not-login" style="display: none;">
                            <a class="light-btn to-login-btn">登录</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    *{<div class="back-image"></div>  }*


    <div id="container" >
        <div class="container-div">
            <div class="menu-nav">
                <ul>
                    <li>
                        <a href="/MusicAdmin/index" >
                            <i class="glyphicon glyphicon-globe"></i>
                            <span class="font-bold">音乐厅</span>
                        </a>
                    </li>
                    <li>
                        <a href="/MusicAdmin/groupMusic" >
                            <i class="glyphicon glyphicon-th-list"></i>
                            <span class="font-bold">分类</span>
                        </a>
                    </li>
                    <li>
                        <a href="/MusicListen/listenMusic" >
                            <i class="glyphicon glyphicon-music"></i>
                            <span class="font-bold">听音乐</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="glyphicon glyphicon-heart"></i>
                            <span class="font-bold">收藏</span>
                        </a>
                    </li>
                    <li>
                        <a href="/MusicAdmin/uploadMusic">
                            <i class="glyphicon glyphicon-cloud"></i>
                            <span class="font-bold">分享</span>
                        </a>
                    </li>
                    <li>
                        <a class="to-my-home">
                            <i class="glyphicon glyphicon-home"></i>
                            <span class="font-bold">小屋子</span>
                        </a>
                    </li>
                    <li>
                        <a class="to-my-home">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span class="font-bold">删除</span>
                        </a>
                    </li>

                </ul>
            </div>

              #{doLayout /}

        </div>
    </div>

    <div class="footer">
        <div class="header-div">
            <a href="/UserCenter/RefreshHeadPhoto"><img src="/public/img/logo.png" width="50px" height="50px" style="margin: 5px 10px;" class="user-head-photo" alt="嗨音乐"></a>
        </div>
        <div class="player" style="background: #fff;">

            <div class="ctrl">
                <div class="control">
                    <div class="control-left">
                        <div class="rewind glyphicon glyphicon-step-backward" data-toggle="tooltip" title="上一首"></div>
                        <div class="playback glyphicon glyphicon-pause" data-toggle="tooltip" title="暂停"></div>
                        <div class="fastforward glyphicon glyphicon-step-forward" data-toggle="tooltip" title="下一首"></div>
                    </div>
                    <div class="control-right">
                        <div class="progress">
                            <div class="slider">
                                <div class="loaded"></div>
                                <div class="pace"></div>
                            </div>
                            <div class="timer">0:00</div>
                            <div class="progress-right">
                                <div class="repeat-all glyphicon glyphicon-retweet" data-toggle="tooltip" title="全部循环"></div>
                                <div class="repeat-once glyphicon glyphicon-repeat" data-toggle="tooltip" title="单曲循环"><span class="repeat-tip">1</span></div>
                                <div class="shuffle glyphicon glyphicon-random" data-toggle="tooltip" title="随机播放"></div>
                            </div>
                        </div>
                        <div class="volume right">
                            <div class="glyphicon glyphicon-volume-up mute left"></div>
                            <div class="slider left">
                                <div class="pace"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <audio class="audio" autoplay>

            </audio>
        </div>
    </div>
</div>

<script type="text/javascript">

        yabe.gcs("/public/js/login.js", function () {
            $(document).ready(function(){

                $(".menu-nav").find("a").unbind().hover(function(){
                     $(this).find("i").hide();
                },
                function(){
                    $(this).find("i").show();
                });

                $(".search-div-input").focus(function(){
                     $(".search-div").width(250);
                });


                $(".search-div-input").blur(function(){
                    $(".search-div").width(200);
                });

                $(".search-div-input").unbind().keydown(function(e){
                      if(e.keyCode == 13){
                          toSearsh();
                      }
                });

                $(".search-div-icon").unbind().click(function(){
                    toSearsh();
                });

                var toSearsh = function(){
                    var info = $(".search-div-input").val().trim();
                    if(info==""){
                        window.location.href = "/MusicAdmin/index";
                    }
                    window.location.href = "/MusicAdmin/index?songinfo="+info;
                }

                yabe.LoginRegister.init.doInit($('.header'));
            })
        })


</script>