#{extends 'webmain.html' /}
#{set title:"嗨音乐" /}

<link rel="stylesheet" type="text/css" href="/public/home/css/tabs.css" />
<link rel="stylesheet" type="text/css" href="/public/css/index.css" />
<script src="/public/js/musicControl.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
     .menu-nav ul li a{
        position: relative;
        padding: 0;
        font-size: 11px;
        text-align: center;
        height: 50px;
        width:70px;
        overflow-y: hidden;
        border: none;
        display: block;
        margin-top:0px;
    }
     .menu-nav ul li a i{
        width: auto;
        float: none;
        display: block;
        font-size: 15px;
        margin: 0;
        line-height: 50px;
        border: none !important;
        -webkit-transition: margin-top 0.2s;
        transition: margin-top 0.2s;
        text-align: center;
        position: relative;
        overflow: hidden;
    }
     .menu-nav ul li a span {
         background: rgba(255,255,255,0.05);
        display: table-cell;
        vertical-align: middle;
        height: 50px;
        width: 70px;
        padding: 0 5px;
    }
</style>

<div class="container">
        <div class="header">
             <div class="main">
                 <div class="main-logo">
                     <img src="/public/img/logo.png" width="60px" height="60px" alt="嗨音乐">
                 </div>
                 <div class="main-nav">
                     <ul>
                         <li>
                             <a href="/">首页</a>
                         </li>
                         <li><a href="/MusicAdmin/index" class="glyphicon glyphicon-headphones"></a></li>
                         <li><a href="/MusicAdmin/uploadMusic">音乐分享</a></li>
                         <li><a class="to-my-home" href="javascript:void(0)">我的音乐</a></li>
                     </ul>
                 </div>
                 <div class="right-nav">
                     <ul>
                         <li class="user-nav">
                             <div class="has-login" style="display:none;">
                                 <a href="/UserCenter/RefreshHeadPhoto"><img src="/public/img/logo.png" width="60px" height="60px" class="user-head-photo" alt="嗨音乐"></a>
                                 <ul class="exit-btn" style="display: none;">
                                     <li><a href="/ALLogin/doLogout">退出</a></li>
                                 </ul>
                             </div>
                             <div class="not-login" style="display: none;">
                                 <a class="light-btn to-login-btn">登录</a>
                             </div>
                         </li>
                     </ul>
                 </div>
             </div>
        </div>
    *{<div class="back-image"></div>  }*


    <div id="container" >
        <div class="container-div">
            <div class="menu-nav">
                <ul>
                    <li>
                        <a href="/MusicAdmin/index">
                            <i class="glyphicon glyphicon-globe"></i>
                            <span class="font-bold">音乐厅</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="glyphicon glyphicon-music"></i>
                            <span class="font-bold">听音乐</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="glyphicon glyphicon-globe"></i>
                            <span class="font-bold">享心情</span>
                        </a>
                    </li>

                </ul>
            </div>

              #{doLayout /}

        </div>
    </div>

    <div class="footer">

    </div>
</div>

<script type="text/javascript">

        yabe.gcs("/public/js/login.js", function () {
            $(document).ready(function(){

                $(".menu-nav").find("a").unbind().hover(function(){
                     $(this).find("i").hide();
                },
                function(){
                    $(this).find("i").show();
                });

                yabe.LoginRegister.init.doInit($('.header'));
            })
        })


</script>