#{extends 'webmain.html' /}
#{set title:"bingo首页" /}

<style type="text/css">
    .has-login{
        position: relative;
        z-index: 30;

    }
    .has-login a{
        background-color: #364866;
        display: block;
        padding: 5px 5px;
    }
    .user-hidden-info a:hover{
        background-color: #88c569;
        font-weight: bolder;
        font-size: 16px;
    }
</style>

      <div id="header">
               <div id="logo">
                          yabe
              </div>
           <ul id="tools">
               #{if user}
                   <li class="has-login">
                               <div class="user-op-info-link" style="overflow: hidden;text-align: center;">
                                   <span class="arrow"></span>
                                   <a href="#">${user?.email}</a>
                               </div>
                               <div class="user-hidden-info" style="display: none;">
                                   <a href="/Home/index">我的空间</a>
                                   <a href="#">我的消息</a>
                                   <a href="#">我的评论</a>
                                   <a href="/ALLogin/doLogout">退出</a>
                               </div>
                   </li>
               #{/if}
               #{else}
                   <li class="not-login">
                       <a href="@{ALLogin.index()}">登录</a> | <a href="@{ALLogin.register()}">注册</a>
                   </li>
               #{/else}


           </ul>

           <div id="title">
                         <h3><a href="@{Application.index()}">回到首页</a></h3>

            </div>
      </div>
      
    
       <div id="main">
                      #{doLayout /}
        </div>
        
        <p id="footer">
                         Yabe is a (not that) powerful blog engine built with the 
                       <a href="http://www.playframework.org">Play framework</a>
                        as a tutorial application.
        </p>

<script type="text/javascript">
    var info= $(".has-login");

        var uinfo=info.find(".user-hidden-info");
        info.hover(function(){
            uinfo.show();
        },function(){
            uinfo.hide();
        });

</script>