<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <!-- 新 controllers.job.Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="@{'public/bootstrap/css/bootstrap.min.css'}" />

        <link rel="stylesheet" media="screen" href="@{'/public/css/main.css'}">
        <link href="@{'public/css/carousel.css'}" rel="stylesheet">
        #{get 'moreStyles' /}
        *{<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">  }*
        <link rel="shortcut icon" type="image/png" href="@{'/public/img/bingo_favicon.ico'}">
        <script src="@{'/public/js/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>

    #{get 'moreScripts' /}
    </head>
    <body role="document">


    <body>
      <div id="header">
               <div id="logo">
                          yabe
              </div>
           <ul id="tools">
                     <li>
                                 <a href="@{Admin.index()}">Log in to write something</a>
                     </li>
           </ul>
           <div id="title">
                         <span class="about">About this blog</span>
                         <h1><a href="@{Application.index()}">${blogTitle}</a></h1>
                         <h2>${blogBaseline}</h2>
            </div>
      </div>
      
    
       <div id="main">
                      #{doLayout /}
        </div>
        
        <p id="footer">
                         Yabe is a (not that) powerful blog engine built with the 
                       <a href="http://www.playframework.org">Play framework</a>
                        as a tutorial application.
        </p>
        
    </body>
</html>
